.account {
      width: 30%;
      margin-top: 10px;
      font-size: 14px;
}

.account-content {
      width: 100%;
}

.suggested>span {
      color: gray;
}

.img-wrap>img {
      border-radius: 50%;
}

.account-content>li {
      justify-content: space-between;
      margin-top: 20px;
      margin-bottom: 20px;
}

.account-content>li>p {
      margin-right: auto;
      margin-left: 20px;
      align-items: flex-start
}

.account-content>li>p>span:first-child {
      font-weight: bold;
      color: black;
}

.account-content>li>p>span:last-child {
      color: gray;
}

.account-content>li>a {
      color: #0095f6;
      font-size: 13px;
      margin-right: 65px;
}

.about {
      margin-top: 30px;
      margin-bottom: 20px;
      margin-right: 65px;
}

.about>a {
      color: lightgray;
      font-size: 12px;
      margin-right: 2px;
}

.name {
      color: lightgray;
      font-size: 12px;
      margin-right: auto;
}